


<script>
      function toggleNavbar() {
            const navbar = document.querySelector('.navbar-collapse');
            navbar.classList.toggle('show');
        }
    function myData() {
  retrun;
}

function show() {
  document.getElementById('anotherFunction').classList.toggle('Active');
}
function showSearchBox() {
    const searchBox = document.getElementById('search-box');
    searchBox.style.display = 'block';
    setTimeout(() => searchBox.classList.add('show'), 10);
}

function handleKeyPress(event) {
    if (event.key === 'Enter') {
        const query = document.getElementById('search-box').value;
        if (query) {
            window.location.href = `/search?query=${encodeURIComponent(query)}`;
        }
    }
}

</script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="/js/script.js"></script>
</body>


<footer>
    <div class="footer footer-container">
    <p class="mb-0 d-flex justify-content-center">© 2024 Ahmed Fathy. All rights reserved.</p>
    </div>
</footer>


</html>