<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/index.css" />
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <style>
        .container {
        width: 500px;
        max-width: 100%;
        }

        .form-group {
        margin-bottom: 12px;
        }

        label {
        display: block;
        margin-bottom: 4px;
        }

        input {
        border: 1px solid #ccc;
        }

        input,
        .ql-editor {
        padding: 4px;
        font-size: 14px;
        }

        #editor {
        height: 130px;
        }
    </style>
</head>
