<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/styles/style.css">
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
    <div class="navigation">
        <nav class="navbar navbar-expand-md">
            <a class="navbar-brand logo" href="/">
                <i class="fa fa-blog"></i> Blog App
            </a>
            <!-- Toggle Button for Small Screens -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            
            <!-- Collapsible Navbar -->
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="/" class="nav-link active"><i class="fa fa-home"></i> Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="/newpost" class="nav-link"><i class="fa fa-plus"></i> Add Post</a>
                    </li>
                    <li class="nav-item">
                        <a href="/updatepost" class="nav-link"><i class="fa fa-edit"></i> Update Post</a>
                    </li>
                    <li class="nav-item">
                        <a href="/deletepost" class="nav-link"><i class="fa fa-trash"></i> Delete Post</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="search-icon" onclick="showSearchBox()">
                            <i class="fa fa-search"></i>
                        </a>
                    </li>
                </ul>
                <input type="text" id="search-box" class="form-control ml-auto" placeholder="Search..." onkeypress="handleKeyPress(event)" style="display: none;">
                <button class="login-btn" 
                    onclick="location.href='<%= isLogin ? '/logout' : '/login' %>'">
                    <%= isLogin ? 'Logout' : 'Login' %>
                </button>
            </div>
        </nav>
    </div>