
:root {
 
    --primary-color: #2A363B;
    --secondary-color: #CBB26B;
    --accent-color: #E84A5F;
    --background-color: #F2F2F2;
    --text-color: #ffffff;
}
   
/* Global Styles */
html {
    font-size: 16px;
    font-family: Arial, sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    display: grid;
    place-items: center;
    min-height: 100vh;
    background: linear-gradient(-45deg, #ff5959, #ff4040, #ff0d6e, #ff8033, #d74177);
    background-size: 400% 400%;
    animation: myGradient 12s ease infinite;
    color: var(--text-color);
    padding-top: 60px; 
}




@keyframes myGradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 10rem; 
    padding: 1rem;
    width: 100%;
    max-width: 1200px;
    margin-top: 20px;
}

h1 {
    margin-bottom: 10px; 
    text-align: center; 
}

h2 {
    margin-top: 0; 
    margin-bottom: 20px; 
}

/* Navbar */
ul {
    list-style-type: none;
    display: flex;
    padding: 18px 18px;
    background-size: 400% 400%;
    width: 100%; 
    position: fixed; 
    top: 0; 
    left: 0; 
    z-index: 1000; 
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
}


/* Style for the Font Awesome search icon */
.fa-search {
    transition: 1s;
    cursor: pointer;
    margin-left: 30px;
}

.fa-search:hover {
    color: #fff;
    animation: myFlash 1.5s linear infinite;
    text-shadow: 2px 2px 30px #fff;
    transition: 2s;
}

@keyframes myFlash {
    0% { opacity: 1; text-shadow: transparent; }
    50% { opacity: 0.1; }
    100% { opacity: 1; text-shadow: 2px 2px 20px #fff; }
}
#search-box {
    transition: opacity 0.5s, width 0.5s;
    opacity: 0;
    width: 0;
    display: block;
}

#search-box.show {
    opacity: 1;
    width: 200px; 
}



li a {
    color: #fff;
    text-decoration: none;
    padding: 20px 30px; 
    font-family: Verdana, sans-serif;
    font-weight: lighter;
    font-size: 18px; 
    letter-spacing: 1px;
    opacity: 0.9;
}

.navigation {
    position: fixed; 
    transform: translate(-50%, -50%);
    top: 0; 
    left: 50%; 
    width: 100%; 
}

/* Dropdown styles */
.dropdown {
    background: red;
    width: 150px;
    height: 350px;
    color: #fff;
    font-family: Verdana, sans-serif;
    padding: 20px 30px;
    line-height: 50px;
    text-align: center;
    font-weight: bold;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 71%;
    left: 69.2%;
    background-size: 400% 400%;
    background-image: linear-gradient(-45deg, #ff0d0d, #ff0d6e, #ff3d0d, #ffff00);
    animation: myLineargradient 6s infinite;
    box-shadow: 2px 3px 20px #ff1700;
}

@keyframes myLineargradient {
    0% { background-position: 0% 50%; box-shadow: 2px 3px 20px #ff1700; }
    50% { background-position: 100% 50%; box-shadow: none; }
    100% { background-position: 0% 50%; box-shadow: 2px 3px 20px #ff1700; }
}

/* Style for dropdown items */
.dropdown .drop1,
.dropdown .drop2,
.dropdown .drop3,
.dropdown .drop4 {
    cursor: pointer;
    text-shadow: 1px 2px 18px #fff;
    transition: 2s;
    margin-top: -5px;
}

/* Responsive styles */
@media(max-width: 767px) {
    .dropdown {
        display: none;
    }

    .navigation {
        top: 0; 
        left: 50%;
    }

    li a {
        padding: 20px 30px;
        font-size: 18px; 
    }
}

/* Card */
.card {
    --blur: 16px;
    --size: clamp(300px, 50vmin, 600px);
    width: var(--size);
    aspect-ratio: 4 / 3;
    position: relative;
    border-radius: 2rem;
    overflow: hidden;
    color: var(--text-color);
    transform: translateZ(0);
    margin-top: 1rem;
    margin-bottom: 1rem;
    background: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.card__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(calc(1 + (var(--hover, 0) * 0.25))) rotate(calc(var(--hover, 0) * -5deg));
    transition: transform 0.2s;
}

.card__footer {
    padding: 0 1.5rem;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: grid;
    grid-template-row: auto auto;
    gap: 0.5ch;
    background: var(--background-color);
    backdrop-filter: blur(var(--blur));
    height: 30%;
    align-content: center;
    color: #000;
}

.card__action {
    position: absolute;
    aspect-ratio: 1;
    width: calc(var(--size) * 0.15);
    bottom: 30%;
    right: 1.5rem;
    transform: translateY(50%)
        translateY(
        calc(
            (var(--size) * 0.4)
        )
        )
        translateY(calc(var(--hover, 0) * (var(--size) * -0.4)));
    background: var(--primary-color);
    display: grid;
    place-items: center;
    border-radius: 0.5rem;
    transition: transform 0.2s;
}

.card__action svg {
    aspect-ratio: 1;
    width: 50%;
    fill: white;
}

.card__footer span:nth-of-type(1) {
    font-size: calc(var(--size) * 0.065);
}

.card__footer span:nth-of-type(2) {
    font-size: calc(var(--size) * 0.035);
}

.card:is(:hover, :focus-visible) {
    --hover: 1;
}

#editor {
    background-color: white;
    color:#000;
    height: 300px;
    width: 100%;
    padding: 1rem;


}



/* Footer */

footer {
    
    color: var(--text-color);
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}
footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}